<div class="row">
	<div class="large-4 columns push-4" id="description">
		<br>
		<h1>WeatherTF</h1>
        <%= @lists %>
		<br>
		<h2><small>weather alerts by sms</small></h2>

		<button class="success" data-reveal-id="signup">sign me up please</button>
		<button data-reveal-id="login">login</button>
		<br>
		<br>
	</div>
</div>


<!--  sign-up form  -->

<div id="signup" class="reveal-modal small">
	<div class="row">
		<div class="large-12 columns">
			
			<%= render template: 'users/forms/signup_form' %>	

		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<!--  login form    -->

<div id="login" class="reveal-modal small">
	<div class="row">
		<div class="large-12 columns">

			<%= render template: 'users/login_form' %>

		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
