users who fail at creating a record on the homepage are directed here.
not ideal? -->

<div class="row">
	<div class="large-6 push-3 columns" id="new_form">

		<br>
		<%= render template: 'users/signup_form' %>		

	</div>
</div>


