<!-- users whose create from the modal on index are currently sent back there -->
<!-- nobody should end up here -->

<!-- 
<div class="row">
	<div class="large-6 push-3 columns" id="new_form">

		<br>
		render template: 'users/forms/signup_form' %>		

	</div>
</div>
 -->

