<% provide(:title, "Local") %>
<div class="row">
	<div class="large-8 push-2 columns" id="show_pane">
		<div class="section-container auto" data-section>
			<section>
				<p class="title" data-section-title><a href="#hour">Hourly Weather</a></p>
				<div class="content" data-section-content>
					<div>
						<p>
							<%= current_user.username %> | phone: <%= number_to_phone(current_user.phone_number) %>
						</p>
							<table>
								<thead>
									<tr>
										<th>humidity</th>
										<th>precipIntensity</th>
										<th>precipProbability</th>
										<th>precipType</th>
										<th>summary</th>
										<th>temperature</th>
										<th>time</th>
										<th>visibility</th>
										<th>latitude</th>
										<th>longitude</th>
										<th>user_id</th>
									</tr>
								</thead>
								<tbody>
									<%= render partial: "layouts/forecast", collection: @forecasts %>
								</tbody>
							</table>
						</div>	
					</div>
				</div>
			</section>

			<section>
				<p class="title" data-section-title><a href="#day">Daily Forecast</a></p>
				<div class="content" data-section-content>
		<!-- render 'layouts/daily' %> -->
				</div>
			</section>

			<section>
				<p class="title" data-section-title><a href="#settings">Message Settings</a></p>
				<div class="content" data-section-content>
		<!-- render template: 'users/mail_settings' %> -->
				</div>
			</section>

			<section>
				<p class="title" data-section-title>
					<a id="settings" href="#settings">My Account</a>
				</p>
				<div class="content" id="edit_tab" data-section-content>
					<%= render template: 'users/edit' %>
				</div>
			</section>

		</div>

	</div>
</div>
