<div class="row">
	<div class="large-8 push-2 columns">
		<br>
		<br>
		<div class="section-container auto" data-section>
			<section>
				<p class="title" data-section-title><a href="#panel1">Hourly Weather</a></p>
				<div class="content" data-section-content>
					<%= render 'layouts/hourly' %>
				</div>
			</section>

			<section>
				<p class="title" data-section-title><a href="#panel1">Daily Forecast</a></p>
				<div class="content" data-section-content>
					<%= render 'layouts/daily' %>
				</div>
			</section>

			<section>
				  <p class="title" data-section-title><a href="#panel2">SMS me now</a></p>
				  <div class="content" data-section-content>
				  	<br>

					<%= link_to "sms me brah.", sms_path, class:"button" %>
					<br><br>
				  </div>
			</section>
		</div>

	</div>
</div>
