<% provide(:title, "Local") %>
<div class="row">
	<div class="large-8 push-2 columns">
		<br>
		<br>
		<div class="section-container auto" data-section>
			<section>
				<p class="title" data-section-title><a href="#hour">Hourly Weather</a></p>
				<div class="content" data-section-content>
					<%= render 'layouts/hourly' %>
				</div>
			</section>

			<section>
				<p class="title" data-section-title><a href="#day">Daily Forecast</a></p>
				<div class="content" data-section-content>
					<%= render 'layouts/daily' %>
				</div>
			</section>

			<section>
				<p class="title" data-section-title><a href="#settings">Message Settings</a></p>
				<div class="content" data-section-content>
					<%= render template: 'users/mail_settings' %>
				</div>
			</section>

			<section>
				<p class="title" data-section-title><a href="#settings">My Account</a></p>
				<div class="content" data-section-content>
					<%= render template: 'users/edit' %>
				</div>
			</section>

		</div>

	</div>
</div>
