<% provide(:title, "Local") %>

<div class="row large-10 push-1 columns">
	<dl class="tabs" data-tab>
		<dd class="active"><a href="#panel2-1">Forecasts</a></dd>
		<dd><a href="#panel2-2">My Account</a></dd>
	</dl>
	<div class=" panel">
		
		<p>
			<%= current_user.username %> | phone: <%= number_to_phone(current_user.phone_number) %>
		</p>

		<div class="tabs-content">
			<div class="content active" id="panel2-1">
				<div>
					<table>
						<thead>
							<tr>
								<th>Time</th>
								<th>Summary</th>
								<th>precipitation Probability</th>
								<th>precipitation Type</th>
								<th>precipitation intensity</th>
								<th>temperature</th>
								<th>humidity</th>
								<th>visibility</th>
<!-- 								<th>latitude</th>
								<th>longitude</th> -->
							</tr>
						</thead>
						<tbody>
							<%= render partial: "layouts/forecast", collection: @forecasts %>
						</tbody>
					</table>
				</div>	
			</div>
			<div class="content" id="panel2-2">
				<%= render template: 'users/edit' %>
			</div>
			<div class="content" id="panel2-3">
				<p>Third panel content goes here...</p>
			</div>
			<div class="content" id="panel2-4">
				<p>Fourth panel content goes here...</p>
		  </div>
		</div>



		</div>

	</div>
</div>
