
<div class="row collapse">
	<div class="small-6 columns">
		<span class="prefix">
			latitude
		</span>
	</div>
	<div class="small-6 columns">
		<%= @location.latitude %>
	</div>
</div>

<div class="row collapse">
	<div class="small-6 columns">
		<span class="prefix">
			longitude
		</span>
	</div>
	<div class="small-6 columns">
		<textarea>
		<%= @location.longitude %>
		</textarea>
	</div>
</div>
